:host {
  width: 100%;
  height: 100%;
  display: flex;

  > div#project-sidebar {
    min-width: 90px;
    width: 7%;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  > div#project-content {
    flex: 1;
    height: 100%;
  }
}
