@import "../../../color.scss";

:host {
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;

  #dashboard {
    width: 100%;
    height: 100%;
    display: flex;

    agm-map {
      height: 100vh;
    }

    .dashboard-info {
      width: 40%;
      height: 100%;
      padding: 25px;
      background-color: $color-functionwhite;
      box-shadow: 3px 0 8px rgba(0, 0, 0, 0.16);
      overflow-y: auto;

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        span {
          color: $color-blackword;
          font-size: 24px;
        }
        span:nth-child(2) {
          color: $color-grayword;
          font-size: 18px;
          display: flex;
          align-items: flex-end;
        }
      }

      .alert {
        border: solid 3px $color-alertred !important;
      }

      .alertWord {
        color: $color-alertred !important;
      }

      .count-block {
        margin-bottom: 15px;
        width: 100%;
        min-height: 100px;
        background-color: $color-white;
        border: solid 1px $color-bordergray;
        border-radius: 8px;
        display: flex;
        flex-flow: column;
        .info {
          display: flex;
          width: 100%;
          padding: 20px;
          div {
            width: 50%;
            height: 100%;
            display: flex;
            flex-flow: column;
            span {
              color: $color-grayword;
              font-size: 16px;
            }
            span:nth-child(2) {
              margin-top: 5px;
              color: $color-blackword;
              font-size: 46px;
              span {
                color: $color-blackword;
                font-size: 20px;
              }
            }
          }
        }

        .info-event {
          display: flex;
          width: 100%;
          padding: 20px;
          div {
            width: 33%;
            height: 100%;
            display: flex;
            flex-flow: column;
            span {
              color: $color-grayword;
              font-size: 16px;
            }
            span:nth-child(2) {
              margin-top: 5px;
              color: $color-blackword;
              font-size: 46px;
              span {
                color: $color-blackword;
                font-size: 20px;
              }
            }
          }
        }

        .processbar {
          width: 100%;
          display: flex;
          flex-flow: column;

          .bar {
            width: 100%;
            height: 30px;
            display: flex;
            color: $color-grayword;
            font-size: 12px;

            >div:nth-child(1) {
              padding-left: 20px;
              width: 25%;
              display: flex;
              align-items: center;
            }
            >div:nth-child(2) {
              width: 75%;
              height: 100%;
              display: flex;
              align-items: center;
              .info-line {
                height: 6px;
                border-radius: 3px;
                background-color: $color-info;
              }
              .caution-line {
                height: 6px;
                border-radius: 3px;
                background-color: $color-caution;
              }
              .danger-line {
                height: 6px;
                border-radius: 3px;
                background-color: $color-alertred;
              }
            }
          }
        }

        .popup-info {
          width: 100%;
          background-color: $color-popupgray;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          font-size: 16px;
          display: flex;
          flex-flow: column;
          >div {
            width: 100%;
            height: 40px;
            border-top: solid 1px $color-bordergray;
            display: flex;
            justify-content: space-around;
            align-items: center;
            >span {
              color: $color-blackword;
              width: 30%;
            }

            >span:nth-child(1) {
              color: $color-alertred;
            }

            .event-info-lat, .sos-lat {
              width: 60%;
            }

            .sos-title, .sos-name {
              width: 15%;
            }


          }


        }

      }

      .checkin-time {
        margin-bottom: 15px;
        padding: 20px;
        width: 100%;
        min-height: 100px;
        background-color: $color-white;
        border: solid 1px $color-bordergray;
        border-radius: 8px;
        display: flex;
        flex-flow: column;
        div {
          color: $color-grayword;
          font-size: 16px;
          margin-bottom: 15px;
        }
      }

    }

    .dashboard-map {
      flex: 1;
      height: 100%;
    }
  }

  .sos-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    span {
      margin-top: 15px;
      font-size: 16px;
      color: $color-blackword;
      display: flex;
      fa-icon {
        width: 10%;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        color: $color-grayword;
      }
    }

    span.title {
      margin-top: 0px;
      color: $color-alertred;
      font-size: 24px;
    }

    span:nth-child(2) {
      fa-icon {
        color: $color-alertred;
      }
    }
  }

  .caution-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    span {
      margin-top: 15px;
      font-size: 16px;
      color: $color-blackword;
      display: flex;
      fa-icon {
        width: 10%;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        color: $color-grayword;
      }
    }

    span.title {
      margin-top: 0px;
      color: $color-caution;
      font-size: 24px;
    }

    span:nth-child(2) {
      fa-icon {
        color: $color-caution;
      }
    }
  }

  .info-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    span {
      margin-top: 15px;
      font-size: 16px;
      color: $color-blackword;
      display: flex;
      fa-icon {
        width: 10%;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        color: $color-grayword;
      }
    }

    span.title {
      margin-top: 0px;
      color: $color-info;
      font-size: 24px;
    }

    span:nth-child(2) {
      fa-icon {
        color: $color-info;
      }
    }
  }


}
