<div id="alert-detail" *ngIf="!loading">
  <div class="alert-title">
    <div (click)="backToEvent()" class="back">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Alert
    </div>
    <div class="title">
      <span>Alert Detail</span>
    </div>
    <div class="alert-detail-info">
      Alert #{{ alertId }}
    </div>
  </div>
  <div class="line"></div>

  <div class="alert-info">
    <div class="event-detail-info">
      <div>
        <span>From event</span>
        <div>
          <span>{{ element.eventTypeName }}</span>
          <span>
            <fa-icon [icon]="faExclamationTriangle" [ngStyle]="{'color': getLevelColor(element.alertLevelId)}"></fa-icon>
            {{ levelTransform(element.alertLevelId) }}
          </span>
          <span>{{ timeTransform(element.eventTime) }}</span>
          <span>{{ element.latpt }}, {{ element.lngpt }}</span>
        </div>
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info">
      <div>
        <span>Broadcast to hikers</span>
        <span>Within a range of {{ element.radius }} km</span>
      </div>
    </div>
    <div class="event-detail-info">
      <div>
        <span>To</span>
        <span>{{ element.permitName }}</span>
      </div>
      <div>
        <span>At</span>
        <span>{{ timeTransform(element.logtime) }}</span>
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info" style="flex-flow: column;">
      <div class="width-full">
        <span>Content</span>
        <span>{{ element.eventInfo }}</span>
      </div>
      <div>
        <img [src]="item" height="100" width="100" *ngFor="let item of element.attachments">
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info">
      <div class="width-full">
        <span>Creator</span>
        <span>{{ element.creatorName }}</span>
      </div>
    </div>
  </div>
</div>
