<div id="alert-detail">
  <div class="alert-title">
    <div (click)="backToEvent()" class="back">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Alert
    </div>
    <div class="title">
      <span>Alert Detail</span>
    </div>
    <div class="alert-detail-info">
      Alert #{{ uuid }}
    </div>
  </div>
  <div class="line"></div>

  <div class="alert-info">
    <div class="event-detail-info">
      <div>
        <span>From event</span>
        <div>
          <span>Falling rocks</span>
          <span>
            <fa-icon [icon]="faExclamationTriangle" [ngStyle]="{'color': getLevelColor(0)}"></fa-icon>
            Danger
          </span>
          <span>5/25 6:49:31</span>
          <span>24.937596, 121.021746</span>
        </div>
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info">
      <div>
        <span>Broadcast to hikers</span>
        <span>Within a range of 3 km</span>
      </div>
    </div>
    <div class="event-detail-info">
      <div>
        <span>To</span>
        <span>Mount. Tao</span>
      </div>
      <div>
        <span>At</span>
        <span>9:38AM, 2020/5/25</span>
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info">
      <div class="width-full">
        <span>Content</span>
        <span>Dangerous!!</span>
      </div>
    </div>
    <div class="linethin"></div>
    <div class="event-detail-info">
      <div class="width-full">
        <span>Creator</span>
        <span>Chuang, Hui-jia</span>
      </div>
    </div>
  </div>
</div>
