<div id="permit-detail" *ngIf="!loading">
  <div class="permit-title">
    <div (click)="backToEvent()" class="back">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Permit
    </div>
    <div class="title">
      <span>Permit #{{ userId }}</span>
      <span>
        Status:&nbsp;&nbsp;
        <span> {{ element.permitId ? statusTransform(element.permitId) : '' }}</span>
      </span>
      <span>
        Issued by:&nbsp;&nbsp;
        <span>(No API)</span>
      </span>
    </div>
  </div>

  <div class="line"></div>

  <div class="permit-content">
    <div class="content-title">Applicant</div>
    <div class="content-info">
      <div>
        <span>Face ID</span>
        <div class="id-photo">
          <img [src]="element.hikerInfo.image" height="180" width="135">
        </div>
      </div>
      <div>
        <span>Name</span>
        <span>{{ element.hikerInfo.lastName }}, {{ element.hikerInfo.firstName }}</span>
        <span>Nationality</span>
        <span>{{ element.hikerInfo.nationality }}</span>
      </div>
      <div>
        <span>Gender</span>
        <span>{{ getGender(element.hikerInfo.gender) }}</span>
        <span>ID Number</span>
        <span>{{ element.hikerInfo.identificationNumber }}</span>
      </div>
      <div>
        <span>Date of Birth</span>
        <span>{{ permitTimeTransform(element.hikerInfo.dob) }}</span>
        <span>Email</span>
        <span>{{ element.hikerInfo.email }}</span>
      </div>
      <div>
        <span>
          List
          <span
            [matMenuTriggerFor]="alertMenu"
            #menuTrigger="matMenuTrigger"
          >
            <fa-icon [icon]="faPen"></fa-icon>
            Change
          </span>
          <mat-menu #alertMenu="matMenu" yPosition="below" class="customize110">
            <button mat-menu-item (click)="onChangeWatchStatus('NORMAL')">
              <span>Normal</span>
            </button>
            <button mat-menu-item (click)="onChangeWatchStatus('WATCHLIST')">
              <span>Watchlist</span>
            </button>
            <button mat-menu-item (click)="onChangeWatchStatus('BLACKLIST')">
              <span>Blaklist</span>
            </button>
          </mat-menu>
        </span>
        <span>
          <fa-icon [icon]="faTag" [ngStyle]="{'color': getMarkColor(element.hikerInfo.watchStatus)}"></fa-icon>
          {{ getMarkTranform(element.hikerInfo.watchStatus) }}
        </span>
      </div>
    </div>
  </div>

  <div class="linethin"></div>

  <div class="permit-content">
    <div class="content-title">Contact Info</div>
    <div class="content-contact">
      <div>
        <span>Phone Number</span>
        <span>
          <span>Home</span>
          <span>{{ element.hikerInfo.homeNumber }}</span>
        </span>
        <span>
          <span>Mobile</span>
          <span>{{ element.hikerInfo.mobileNumber}}</span>
        </span>
        <span>
          <span>Satellite</span>
          <span>{{ element.hikerInfo.satelliteNumber }}</span>
        </span>
      </div>
      <div>
        <span>Address</span>
        <span>{{ element.hikerInfo.address }}</span>
      </div>
      <div>
        <span>Other Communication Devices</span>
        <span>
          <span>GPS</span>
          <span>(No API)</span>
        </span>
        <span>
          <span>Wireless</span>
          <span>(No API)</span>
        </span>
        <span>
          <span>Others</span>
          <span>(No API)</span>
        </span>
      </div>
      <div>
        <span>Guide</span>
        <span>{{ element.guideName }}</span>
        <span>
          <span>Mobile</span>
          <span>{{ element.guideContact }}</span>
        </span>
        <span>
          <span>Satellite</span>
          <span>{{ element.guideContact2 }}</span>
        </span>
      </div>
      <div>
        <span>Emergency Contact</span>
        <span>{{ element.hikerInfo.emergencyContact }}</span>
        <span>
          <span>Home</span>
          <span>{{ element.hikerInfo.emergencyNumber }}</span>
        </span>
        <span>
          <span>Mobile</span>
          <span>{{ element.hikerInfo.emergencyMobile }}</span>
        </span>
      </div>
    </div>
  </div>

  <div class="linethin"></div>

  <div class="permit-content">
    <div class="content-title">Itinerary</div>
    <div class="content-contact">
      <div>
        <span>Purpose</span>
        <span>
          <span>(No API)</span>
          <span></span>
        </span>
      </div>
      <div>
        <span>Destination</span>
        <span>{{ onTrailsGet(element.trails) }}</span>
      </div>
      <div>
        <span>Stay Time</span>
        <span>
          <span>From</span>
          <span>{{ permitTimeTransform(element.hikeStart) }}</span>
        </span>
        <span>
          <span>To</span>
          <span>{{ permitTimeTransform(element.hikeEnd) }}</span>
        </span>
      </div>
      <div>
        <span>Identity Documents</span>
        <span>(No API)</span>
        <span>
          <div class="licence-photo">
            <img [src]="element.hikerInfo.identification" height="99" width="132">
          </div>
        </span>
      </div>
      <div>
        <span>Note</span>
        <span>(No API)</span>
      </div>
    </div>
  </div>

  <div class="linethin"></div>

  <div class="permit-content">
    <div class="content-title">Check-in Record</div>
    <div class="content-record">
      <div *ngFor="let item of checkinData">
        <span>{{ timeTransform(item.checkinTime) }}</span>
        <!--<span>{{ item.hikeId }}</span>
        <div class="id-photo">
          (No API)
        </div>-->
      </div>
    </div>
  </div>

  <div class="linethin"></div>

  <div class="permit-content">
    <div class="content-title">Memo</div>
    <div class="content-memo">
      <textarea [(ngModel)]="element.memo"></textarea>
    </div>
    <button class="done-btn width200" (click)="onSavePermit()">Save</button>
  </div>
</div>
