<div id="event">
  <div class="title">Event</div>
  <div class="info-edit">
    <div>All ({{ paginator.length }})</div>
    <div
      (mouseover)="levelHover=true"
      (mouseout)="levelHover=false"
      *ngIf="!selection.isEmpty()"
      [matMenuTriggerFor]="levelMenu"
      #menuTrigger="matMenuTrigger"
    >
      <div>
        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        Edit Level
      </div>
      <fa-icon [icon]="faChevronDown" *ngIf="levelHover"></fa-icon>
    </div>
    <mat-menu #levelMenu="matMenu" yPosition="below" class="customize">
      <button mat-menu-item (click)="onChangeMultiLevel(1)">
        <span>Information</span>
      </button>
      <button mat-menu-item (click)="onChangeMultiLevel(2)">
        <span>Caution</span>
      </button>
      <button mat-menu-item (click)="onChangeMultiLevel(3)">
        <span>Danger</span>
      </button>
    </mat-menu>
    <div
      (mouseover)="statusHover=true"
      (mouseout)="statusHover=false"
      *ngIf="!selection.isEmpty()"
      [matMenuTriggerFor]="statusMenu"
      #menuTrigger="matMenuTrigger"
    >
      <div>
        <fa-icon [icon]="faList"></fa-icon>
        Edit Status
      </div>
      <fa-icon [icon]="faChevronDown" *ngIf="statusHover"></fa-icon>
    </div>
  </div>
  <mat-menu #statusMenu="matMenu" yPosition="below" class="customize">
    <button mat-menu-item (click)="onChangeMultiStatus('PENDING')">
      <span>Pending</span>
    </button>
    <button mat-menu-item (click)="onChangeMultiStatus('PROCESSING')">
      <span>Processing</span>
    </button>
    <button mat-menu-item (click)="onChangeMultiStatus('RESOLVED')">
      <span>Resolved</span>
    </button>
  </mat-menu>
  <div class="table">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.id)"> {{ element.eventTypeName }} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.id)">
          <fa-icon [icon]="faExclamationTriangle" [ngStyle]="{'color': getLevelColor(element.alertLevelId)}"></fa-icon>
          {{ levelTransform(element.alertLevelId) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.id)"> {{ timeTransform(element.eventTime) }} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.id)"> {{ element.latpt }}, {{ element.lngpt }} </td>
      </ng-container>

      <ng-container matColumnDef="reporter">
        <th mat-header-cell *matHeaderCellDef> Reporter </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.id)"> {{ element.reporterName }} </td>
      </ng-container>

      <ng-container matColumnDef="receivingUnit">
        <th mat-header-cell *matHeaderCellDef> Receiving Unit </th>
        <td mat-cell *matCellDef="let element" (click)="openEventDetail(element.index)">  </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngStyle]="{'color': getColor(element.stat)}"
          [matMenuTriggerFor]="statusChangeMenu"
          #menuTrigger="matMenuTrigger"
        >
          {{ statusTransform(element.stat) }}
          <mat-menu #statusChangeMenu="matMenu" yPosition="below" class="customize">
            <button mat-menu-item (click)="onChangeStatus(element, 'PENDING')">
              <span>Pending</span>
            </button>
            <button mat-menu-item (click)="onChangeStatus(element, 'PROCESSING')">
              <span>Processing</span>
            </button>
            <button mat-menu-item (click)="onChangeStatus(element, 'RESOLVED')">
              <span>Resolved</span>
            </button>
          </mat-menu>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
