<div id="alert">
  <div class="title">Alert</div>
  <div class="info-edit">
    <div (click)="onAlertDialogOpen()">
      <fa-icon [icon]="faBell"></fa-icon>
      Create Alert
    </div>
  </div>


  <div class="table">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element" (click)="openAlertDetail(element.index)"> {{ element.type }} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element" (click)="openAlertDetail(element.index)">
          <fa-icon [icon]="faExclamationTriangle" [ngStyle]="{'color': getLevelColor(element.level)}"></fa-icon>
          {{ levelTransform(element.level) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Broadcast Time </th>
        <td mat-cell *matCellDef="let element" (click)="openAlertDetail(element.index)"> {{ timeTransform(element.time) }} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element" (click)="openAlertDetail(element.index)"> {{ element.location }} </td>
      </ng-container>

      <ng-container matColumnDef="station">
        <th mat-header-cell *matHeaderCellDef> Sent From </th>
        <td mat-cell *matCellDef="let element" (click)="openAlertDetail(element.index)"> {{ element.station }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
