@import "../../../color.scss";

:host {
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;

  #event-detail {
    width: 100%;
    height: 100%;
    display: flex;

    agm-map {
      height: 100vh;
    }

    .event-info {
      width: 30%;
      height: 100%;
      padding: 25px;
      background-color: $color-functionwhite;
      box-shadow: 3px 0 8px rgba(0, 0, 0, 0.16);
      overflow-y: auto;

      .back {
        cursor: pointer;
        width: 100%;
        height: 20px;
        color: $color-grayword;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        span {
          color: $color-blackword;
          font-size: 24px;
        }
        span:nth-child(2) {
          cursor: pointer;
          color: $color-greenword;
          font-size: 16px;
          display: flex;
          align-items: flex-end;
        }
      }

      .alert {
        border: solid 3px $color-alertred !important;
      }

      .alertWord {
        color: $color-alertred !important;
      }

      .event-detail-info {
        color: $color-grayword;
        min-height: 40px;
        width: 100%;
        margin-bottom: 15px;
        border-bottom: solid 1px $color-borderlightgray;
        display: flex;

        >div {
          width: 50%;
          display: flex;
          flex-flow: column;
          >span:nth-child(2) {
            color: $color-blackword;
            margin: 15px 0;
            display: flex;
            justify-content: space-between;
          }
        }

        .width-full {
          width: 100%;
        }
      }
    }

    .event-map {
      flex: 1;
      height: 100%;
    }
  }


}
