$color-darkgreen: #072A24;
$color-defaultgreen: #3F776E;
$color-focusgreen: #B5BA2F;

$color-functionwhite: #F7F7F7;
$color-grayword: #8E8E8E;
$color-blackword: #000000;
$color-greenword: #2E986B;
$color-white: #FFFFFF;
$color-bordergray: #DBDBDB;
$color-alertred: #DB0000;
$color-bordergray: #BABABA;
$color-borderlightgray: #CCCCCC;
$color-borderdarkgray: #707070;

$color-pending: #D0B000;
$color-processing: #1D74FF;

$color-yellow: #E2C800;

$color-popupgray: #EBECED;

$color-info: #FF6298;
$color-caution: #9C0BD1;
