@import "./color.scss";

html,
body {
  background: #ffffff;
  // font-family:  Regular;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", "Open Sans", "Noto Sans TC", Arial, sans-serif !important;
  text-overflow: ellipsis;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: thin;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.gm-style .gm-style-iw-c {
  transform: translate(5%,-50%);
  width: 300px;
  height: 200px;
}

.gm-style .gm-style-iw-t::after {
  background: none;
  height: 0px;
}

.mat-dialog-container {
  background-color: $color-white;
  padding: 0px !important;
  color: black;
}

.mat-checkbox-frame {
  border-color: $color-bordergray;
}

.mat-cell {
  color: $color-blackword;
  border-bottom-color: $color-bordergray !important;
}

.mat-header-cell {
  font-size: 16px;
  font-weight: 300;
  color: $color-grayword;
  border-color: $color-borderdarkgray !important;
  border-bottom-width: 2px !important;
  border-top: solid 1px $color-borderdarkgray;
}

.mat-table, .mat-select-panel {
  background-color:white;
}

.mat-paginator {
  border-top: solid 2px $color-borderdarkgray;
  background-color:white;
  color: $color-grayword !important;
}

.mat-icon-button, .mat-select-value, .mat-select-arrow {
  color: $color-grayword !important;
}

.mat-option {
  color: $color-grayword;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, 0.12);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.7);
}

.customize {
  width: 180px !important;
}

.customize110 {
  width: 110px !important;
}

.customize240 {
  width: 240px !important;
}

.customize485 {
  width: 485px !important;
}

.mat-menu-item {
  color: $color-grayword;
}

.mat-menu-item:hover:not([disabled]) {
  background: rgba(0, 0, 0, 0.12);
  color: $color-greenword;
}

.mat-menu-panel {
  background: $color-white;
  border: solid 1px $color-bordergray;
  max-width: 500px !important;
}


.done-btn {
  height: 40px;
  width: 42%;
  margin-left: 8px;
  background-color: $color-greenword;
  color: $color-white;
  border-width: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $color-greenword;
    color: $color-white;
  }

  &:focus {
    background-color:$color-greenword;
    color: $color-white;
    outline: none;
  }

  &:disabled {
    background-color: $color-borderdarkgray;
    color: $color-white;
    cursor: not-allowed;
  }
}

.cancel-btn {
  height: 40px;
  width: 42%;
  margin-left: 8px;
  background-color: $color-white;
  color: $color-greenword;
  border: solid 1px $color-greenword;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    background-color: $color-borderdarkgray;
    color: $color-white;
    cursor: not-allowed;
  }
}

.width200 {
  width: 200px;
  margin-left: 0;
}

.margin-right {
  margin-right: 20px;;
}
